/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table; 
    content: '';
    clear: both;
}

body {
    font-family: sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px; 
    margin: 0 auto;
}

/* First header */

#first-header {
    height: 200px;
    background-color: #E579E6;
    margin: 20px 0px;
}

/* Spotlight */

#spotlight {
    height: 450px;
    background-color: #E1D67A;
    margin-bottom: 20px;
}

/* Content section */

#content-section {
    background-color: #2B86FF;
    height: 1000px;
}

#second-header {
    background-color: #ABCFE7;
    height: 150px;
}